*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}
.App h1{
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}
.breakingbadcard{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
